@import url("https://fonts.googleapis.com/css?family=Marcellus:700|Marcellus:400");

:root {
  --text: #050315;
  --background: #fbfbfe;
  --primary: #2f27ce;
  --secondary: #dedcff;
  --accent: #433bff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  font-family: "Marcellus", sans-serif;
  height: 100vh;
}

.bg {
  background-color: var(--background);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-accent {
  background-color: var(--accent);
}

.header {
  text-align: center;
  color: var(--background);
  padding: 5px;
}

.grid {
  display: grid;
}

.game {
  margin-top: 5%;
  width: fit-content;
  margin-inline: auto;
  grid-template-columns: repeat(20, 50px);
}

.players {
  margin-top: 30px;
  grid-column: 3/6;
  width: 100%;
}

.player {
  font-size: 1.5rem;
  grid-template-columns: 30px 1fr;
  justify-content: center;
}

.player-icon {
  height: 30px;
  width: 30px;
}

.field {
  grid-column: 6;
  grid-template-columns: repeat(3, 150px);
  grid-auto-rows: 150px;
}

.b-right {
    border-right: 5px solid black;
}

.b-top {
    border-top: 5px solid black;
}

.active {
  fill: var(--accent);
  color: var(--accent);
}

.idle {
  fill: var(--secondary);
  color: var(--secondary);
}
